<h2 class="heading">Order Details</h2>

<div class="container">

  <table class="table table-bordered table-light">

    <tr>
      <th scope="col" class="text-center">Item Details</th>
      <th scope="col">Total Price</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Delivery Address</th>
    </tr>
    <tr>
      <td class="cellstyle">
        <table class="tblstyle">
          <tr>
            <th>Item Name</th>
            <th>Price</th>
          </tr>
          <tr *ngFor="let items of routedOrder[0].itemname;let idx = index;">
            <td> {{routedOrder[0].itemname[idx]}} </td>
            <td> {{routedOrder[0].price[idx]}} </td>
          </tr>
        </table>
      </td>
      <td class="cellAlign">{{routedOrder[0].total_amt}}</td>
      <td class="cellAlign">{{routedOrder[0].custname}}</td>
      <td class="cellAlign">{{routedOrder[0].deliveryaddress}}</td>
    </tr>
  </table>




</div>