<table class="table">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Price</th>
      <th scope="col">Total price</th>
      <th scope="col">CustomerName</th>
      <th scope="col">Delivery Address</th>
    </tr>
  </thead>
  <tr>

    <td>{{routedOrder[0].itemname}}</td>
    <td>{{routedOrder[0].price}}</td>
    <td>{{routedOrder[0].total_amt}}</td>
    <td>{{routedOrder[0].custname}}</td>
    <td>{{routedOrder[0].deliveryaddress}}</td>
  </tr>
  <tr>

  </tr>


</table>