<div class="container">list of orders</div>

<div *ngFor="let order of orders; let idx = index;">
    <!-- ngFor to list the list of orders....orders holds
    the mock-orders list from the OrdersComponentclass-->
    <!-- order holds the current order object -->

    <div class="parent_div">
        <div class="div_one">
            <a routerLink="/orderDetails/{{ order.id }}"><b>Order# </b>
                <div>{{ order.id }}</div>
            </a>
        </div>
        <div class="outer_div">
            <div class="common_div">
                <b>Customer Name</b>
                <div>{{ order.custname }}</div>
            </div>
            <div class="common_div">
                <div class="items_div">
                    <b>Items ordered</b>
                    <div>{{ order.items }}</div>
                    <!-- <div>{{ order.itemsname }}</div>
                    <div>{{ order.deliveryaddress }}</div> -->
                </div>
                <div class="total_div">
                    <b>Total Amt:</b> {{ order.total_amt | currency: "INR" }}
                </div>
            </div>
        </div>
        <div class="status_div">
            <div class="common_div">

                <button id="row{{ idx }}" (click)="incOrderStatus(idx)" class="btn btn-primary">
                    Change Status
                </button>
            </div>
            <div class="common_div">

                <div class="common_div" [ngStyle]="{'color' : getColor(order.status)}">
                    {{ getStatusNameFromVal(order.status) }}

                </div>
            </div>
        </div>
    </div>

</div>
